/* .customers {
} */

.customer-text {
    margin-bottom: 68px;
}

.customer-text p {
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
    color: #86878B;
    text-align: center; 
}

.customers-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.customer-review {  
    width: 298px;
    margin: 0 15px;
    flex-direction: column;
    display: flex;
}

.customer-review--text {
    background-color: #E2E2E2;
    border-radius: 7px;
    margin-bottom: 22px;
    padding: 9px 22px 6px 23px;
    position: relative;
    flex: 1 1 auto;
}

.customer-review--text p {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    color: #86878B;
    text-align: center;
}

.customer-review--text::after {
    content: "";
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 14px solid #E2E2E2;
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 40px;
}

.customer-review--profil {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}

.customer-review--profil_img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    /* border: 1px solid mediumaquamarine; */
    overflow: hidden;
}

.customer-review--profil_img img{
width: 100%;
height: 100%;
object-fit: cover;
object-position: center;
}

.customer-review--profil_info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
}

.customer-review--profil__name {
    font-family: 'Open Sans';
    font-weight: 700;
    /* font-size: 20px; */
    font-size: 1.25rem;
    color: #333333;
}

.customer-review--profil__position {  
    font-family: 'Open Sans';
    font-weight: 400;
    /* font-size: 14px; */
    font-size: 0.875rem;
    color: #86878B;
}