/* .tab {
} */

.tab-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.tab-tabs {
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tab-button {
    font-family: 'Open Sans';
    font-weight: 700;
    /* font-size: 15px; */
    font-size: 0.9375rem;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #333333;
    border: none;
    border-radius: 4px;
    width: 110px;
    line-height: 110px;
    /* display: block; */
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 10px;
}

.tab-button:last-child {
    margin-bottom: 0px;
}

.tab-button:active {
    /* background-color: #EC7979; */
}

.tab-button:focus{
    background-color: #EC7979;
}

.tab-button:hover{
    transform: scale(0.9);
}

.tab-description {
    margin: 0 15px;
    width: 572px;
}

.tab-title {
    font-family: 'Open Sans';
    font-weight: 700;
    /* font-size: 20px; */
    font-size: 1.25rem;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 58px;
    text-align: left;
}

.tab-text {
    margin-bottom: 89px;
}

.tab-text p {
    font-family: 'Open Sans';
    font-weight: 400;
    /* font-size: 14px; */
    font-size: 0.875rem;
    text-transform: uppercase;
    color: #86878B;
    text-align: left;
}

.tab-text__p1 {
    margin-bottom: 14px;
}

/* .tab-text__p2 {
} */

.tab-btn {
}

.tab-btn a {
    font-family: 'Open Sans';
    font-weight: 600;
    /* font-size: 15px; */
    font-size: 0.9375rem;
    color: #FFFFFF;
    background-color: #EC7979;
    border: none;
    width: 135px;
    line-height: 42px;
    /* padding: 11px 26px; */
    text-align: center;
    transition: 0.5s;
    display: block;
    margin: left;
}

.tab-btn a:hover {
    background-color: #2c2c2f;
    color: #ec7979;
    transform: scale(1.1)
}


.tab-img {
    margin: 0 15px;
}

.tabs-img {
    width: 320px;
    height: 253px;
}